.App {
  text-align: center;
}

.img-container {
  height: 10rem;
  width: 60rem;
  pointer-events: none;
}

.card-background{
  height: 100vh !important;
  background-color: aliceblue !important;
}
.form-container{
  max-Width: 400px !important;
   padding: 20px !important;
   border: 1px solid #000000 !important;
   background-Color: #FFFFFF !important;
}